body{
    margin: 0;
    padding: 0;
}

nav{
    height: 100px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo-nav{
    height: 90px;
}

.logo-responsive{
    height: 42px;
    cursor: pointer;
}

.button{
    height: 40px;
    width: 90px;
    font-size: 18px;
    border-radius: 4px;
    background-color: #496940e2;
    color:white;
    cursor: pointer;
}

/* main */

.container{
    position: relative;
}

.container-image{
    margin: 2rem 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #496940;
    display: flex;
    justify-content: space-around

}
 .image-presentacion{
    width: 500px;
    height: 700px;
 }

 .image-presentacion {
  transition: transform 0.3s;
}

.image-presentacion:hover {
  transform: scale(1.0);
}

.informacion-personal{
    display: flex;
    border: 1px solid #496940;
    border-radius: 4px;
}


h3{
    font-size: 50px;
    text-align: center;
    color:#496940;
    font-weight: bold;

}

strong{
    color:#496940;
    font-family: cursive;
}


.container-title{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.p-infor{
    text-align: justify;
    font-size: 30px;
    min-width: 700px;
    max-width: 1000px;
}

.informacion, p{
    font-size: 30px;
}

.container-informacion-bienvenida{
    padding-left: 2rem;
}

.circular-image {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.gustos{
    justify-content: space-between;
    background-color: #496940;
    color:white;
}

h4{
    color:white;
    font-size: 50px;
}


.container-image-gustos{
    padding: 20px;
}
.image-gustos{
    width: 60px;
}

.descripcion{
    margin: 0;
}



/* estilos para el footer */
.container-main{
    background-color: black;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: absolute;
    bottom: 140;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.container-main{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.container-footer{
    display: flex;
    color:white
}
.image-footer{
    height: 60px;
    cursor: pointer;
}
.logo-footer{
    height: 41px;
    cursor: pointer;
}
.li-footer{
    list-style-type: none;
    padding: 10px;  
}
.p-footer{
    text-align: center;
    color:white;
    font-weight: bold;
    margin: 0;
}




@media (max-width: 670px) and (min-width: 320px) {

    /* diseños de la nav */
    nav{
        display: block;
        height: 200px;
        
    }

    .logo-nav{
        display: block;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    .group-button, .container-image-responsive{
        text-align: center;
    }


    h3{
        font-size: 25px;
    }

    h4{
        font-size: 30px;
    }

    .container-image{
        display: block;
        text-align: center;
    }

    .image-presentacion{
        height: 400px;
        width: 300px;
    }

    .informacion-personal{
        display: block;
        text-align: center;
    }

    .p-infor{
        font-size: 20px;
        min-width: 330px;
    }

    .container-informacion-bienvenida {
        padding: 1rem;
    }

    .circular-image{
        width: 200px;
        height: 200px;
    }

    /* footer */

    .container-main{
        display: block;
        min-height: 250px;
        position: relative;
        margin: 0;

    }

    .container-footer{
        display: flex;
        justify-content: center;
    }

    .p-footer{
        font-size: 20px;
    }
}

@media (max-width: 1024px) and (min-width: 760px){

    nav{
        margin: 0 1rem;
    }

    .container-title{
        padding-left: 1rem;
    }

    .container-image{
        display: block;
        text-align: center;
    }

    .container-informacion-bienvenida {
        padding-left: 0rem;
    }

    .circular-image{
        width: 200px;
        height: 600px;
        border-radius: 0;
    }

    .p-infor{
        font-size: 24px;
        min-width: 330px;
        max-width: 450px;
    }

   

    /* footer */
   
    .container-main{
        display: block;
        min-height: 250px;
        position: relative;
        margin: 0;
        border-radius: 0;
    }

    .container-footer{
        display: flex;
        justify-content: center;
    }

    .p-footer{
        font-size: 20px;
    }
}
