body{
    margin: 0;
    padding: 0;
}

/* nav */
nav{
    height: 100px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo-nav{
    height: 90px;
}

.logo-responsive{
    height: 42px;
    cursor: pointer;
}

.button{
    height: 40px;
    width: 90px;
    font-size: 18px;
    border-radius: 4px;
    background-color: #496940e2;
    color:white;
    cursor: pointer;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .img-portafolio {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
    height: 650px;
  }

  .enlarge:hover {
    transform: scale(1.2);
  }

  h3{
    font-size: 50px;
    text-align: center;
    color:#496940;
    font-weight: bold;
}

.container{
    position: relative;
}


/* estilos para el footer */
.container-main{
    background-color: black;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: absolute;
    bottom: 140;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.container-footer{
    display: flex;
    color:white
}
.image-footer{
    height: 60px;
    cursor: pointer;
}
.logo-footer{
    height: 41px;
    cursor: pointer;
}
.li-footer{
    list-style-type: none;
    padding: 10px;  
}
.p-footer{
    text-align: center;
    color:white;
    font-weight: bold;
    margin: 0;
}


/*  */
@media (max-width: 670px) and (min-width: 320px) {

    /* diseños de la nav */
    nav{
        display: block;
        height: 200px;
        
    }

    .logo-nav{
        display: block;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    .group-button, .container-image-responsive{
        text-align: center;
    }

    h3{
        font-size: 25px;
    }

    main{
        padding: 0 1rem;
    }


    .portfolio {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }


    .container-main{
        display: block;
        min-height: 200px;
        position: relative;
        margin-top: 3rem;
    }
    
    /* footer */
    .container-footer{
        display: flex;
        justify-content: center;
        margin: 0;
    }
}


/* ipad */
@media (max-width: 1024px) and (min-width: 760px){

    nav{
        margin: 0 1rem;
    }

    .portfolio {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }


    /* footer */
    .container-main{
        display: block;
        min-height: 200px;
        position: relative;
        margin-top: 3rem;
    }

    .container-footer{
        display: flex;
        justify-content: center;
    }

    .p-footer{
    font-size: 25px;
    }
}


